header, nav, main {
    max-width: 60rem;
    margin: auto;
}

// NAV STUFF
#navWrapper {background-color: orange;}
#hamburgerBtn {display:none;}
nav {
    position: static; //this undoes the position: absolute from the small styles
    transform: translateX(0);
    width: auto;
    div {display: none;}
    ul {
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        margin-left: 2%;
        border-left: solid 1px rgba(0,0,0,.2);
        li {
            a {
                border: none;
                border-right: solid 1px rgba(0,0,0,.2) ;
            } //end a
        } //end li
    } // end ul
} // end nav