header {
 padding: 2rem $gutter;
 h1 {
    font-size: 2rem;
    font-weight: $boldWeight;
}   
}

#pageWrapper {
    overflow-x: hidden; //this keeps it from being scrollable
}



main {
    #allCards section {
        grid-template-columns: 250px auto;
        grid-template-areas:
        "photo name"
        "photo address"
        "photo phone";
        column-gap: 10px;
        h2 {grid-area: name;}
        img {grid-area: photo;}
   
        address {grid-area: address;}
        a {grid-area: phone;}
 
   
 
    } //end section
 
}